/* Analytics.module.css */
.pageBackground {
    background-color: #f0fdf4; /* Light green background color */
  }
  
  .title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #333;
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background-color: #f2fff4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    text-align: center;
  }
  
  .card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #555;
  }
  
  .chartWrapper {
    position: relative;
    height: 300px;
    width: 100%;
  }
  
  .chartWrapper canvas {
    border-radius: 10px;
  }
  .counts {
    margin-top: 20px;
  }
  
  .counts h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .counts ul {
    list-style-type: none;
    padding: 0;
  }
  
  .counts li {
    margin-bottom: 5px;
  }