/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/thankyou/ThankYouPage.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.ThankYouPage_thankYouContainer__w63U4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #333;
  padding: 1rem;
  background-color: #e8f5e9; /* Light green background color */
}

.ThankYouPage_card__a3Hpn {
  background-color: rgba(255, 255, 255, 0.95); /* Light gray background color with transparency for cards */
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjusted width for both card and form */
  max-width: 600px; /* Maximum width for better readability */
  margin-bottom: 1rem;
  text-align: center; /* Center text inside the card */
  font-size: 0.9rem; /* Decreased font size for card content */
  position: relative; /* Add relative positioning for the green line */
}

.ThankYouPage_greenLine__6WivH {
  height: 4px; /* Height of the green line */
  background-color: #1f5c2c; /* Green color similar to a healthy theme */
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.ThankYouPage_card__a3Hpn h2 {
  font-size: 1.5rem; /* Increased font size for heading */
  font-weight: bold; /* Emphasize by making it bold */
  margin-bottom: 0.5rem;
  margin-top: 0.8rem; /* Adjusted to make space for the green line */
}

.ThankYouPage_titleLine__YR0FG {
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 0.5rem 0;
}

.ThankYouPage_card__a3Hpn p {
  line-height: 1.4; /* Adjusted line height for better readability */
  margin-bottom: 0.5rem;
}

.ThankYouPage_buttonSubmit__w4_Fn {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.8rem;
  background: #2575fc;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 0.9rem; /* Decreased font size for the submit button */
  cursor: pointer;
}

.ThankYouPage_buttonSubmit__w4_Fn:hover {
  background: #6a11cb;
}

