@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 200, 230, 201; /* Light green */
  --background-end-rgb: 255, 255, 255; /* White */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 27, 94, 32; /* Dark green */
    --background-end-rgb: 56, 142, 60; /* Medium green */
  }
}

body {
  color: rgb(0, 0, 0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
